/* 

  FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
      

-SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
:root {
  --primary: #f44336;
  --secondary: #ff7961;
  --dark: #ba000d;
  --white: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: inherit;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  background-color: var(--primary);
  color: var(--white);
  padding: 0 4.8rem;
}
img {
  object-fit: cover;
}
h1 {
  text-align: center;
  margin-top: 1rem;
}
span {
  color: var(--dark);
}
.grid {
  display: grid;
}
.grid--col--2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid--col--3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid--col--4 {
  grid-template-columns: repeat(4, 1fr);
}
.nav-container {
  width: 200px;
}
.nav-container ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}
