.container {
  margin-top: 5rem;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.form-control {
  display: flex;
  flex-direction: column;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-control input {
  width: 50vw;
}
.form-control div {
  margin-top: 1.2rem;
}
.form-control div div {
  display: flex;
  justify-content: space-between;
}
.submit {
  width: 25vw;
  text-align: center;
  margin-top: 2rem;
}
.map {
  display: flex;
  justify-content: center;
  margin: 3rem 0 3rem 0;
}
.map img {
  height: 500px;
}
footer {
  height: 5vh;
  text-align: center;
}
