:root {
  --primary: #f44336;
  --secondary: #ff7961;
  --dark: #ba000d;
  --white: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  background-color: var(--primary);
  color: var(--white);
}
img {
  object-fit: cover;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  width: 85%;
}
.logo {
  margin-left: 2rem;
}
.nav-container {
  width: 200px;
}
.nav-container ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.container {
  margin: 5rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slide-container {
  margin-top: 5rem;
}
.slide {
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.slide1 {
  background-image: url(./images/Bolognese.png);
}
.slide2 {
  background-image: url(./images/Champagne.png);
}
.slide3 {
  background-image: url(./images/Shrimp.png);
}
.arrow {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.left {
  flex: 1;
}
.right {
  flex: 1;
  margin-left: 2rem;
}
.event-container {
  display: flex;
  margin-top: 9rem;
}
.img-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
  margin-top: 10rem;
}

footer {
  height: 5vh;
  text-align: center;
}
